{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
    <img src="{% static 'images/scrtopy.png' %}" id="scrollback" class="scrollback-btn" onclick="topFunction()">

    <div class="prlx_img prlx1">

        <div class="content-block" id="blockN1" >

        <div class="vert-wrp">
            <h1 class="block-header header1">SUBLIME - your gateway to REAL Aurved</h1>
            <div class="wrapper">
                <div class="block-div">
                    <div class="vert-container">
                        <div class="block-boxes">
                            <div class="frame-box">
                                <a href="#purity">
                                    <div class="frame-num">
                                        <img src="{% static 'images/mandala.png' %}">
                                    </div>
                                    <span>Purity from Highlands</span>
                                </a>
                            </div>
                            <div class="frame-box">
                                <a href="#origin">
                                <div class="frame-num">
                                    <img src="{% static 'images/mandala.png' %}">
                                </div>
                                <span>Feel the Difference, feel Origin</span>
                                </a>
                            </div>
                            <div class="frame-box">
                                <a href="#workshop">
                                <div class="frame-num">
                                    <img src="{% static 'images/mandala.png' %}">
                                </div>
                                <span>Our Workshop</span>
                                </a>
                            </div>
                            <div class="frame-box">
                                <a href="#guarantee">
                                <div class="frame-num">
                                    <img src="{% static 'images/mandala.png' %}">
                                </div>
                                <span>Guarantee</span>
                                </a>
                            </div>
                            <div class="frame-box">
                                <a href="#delivery">
                                <div class="frame-num">
                                    <img src="{% static 'images/mandala.png' %}">
                                </div>
                                <span>Delivery</span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-box">
                        <a href="#connect_form"><button class="block-btn"><strong>Contact</strong></button></a>
                        </div>
                    </div>
                    <div class="img-container">
<!--                        <img class="main-img" src="{% static 'images/swiss_doctor.png' %}">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="content-block" id="purity">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num">
                    <img src="{% static 'images/mandala.png' %}">
                </div>
                <span>Far away in mountains...</span>
            </h1>
            <div class="block-div">
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>
                                    Nestled high in the untouched highlands, where nature thrives in its purest form,
                                    we've built our workshop — a sanctuary for crafting authentic Ayurvedic treasures.
                                </span>
                                    Surrounded by pristine air and the whispers of ancient traditions, every product we
                                    create carries the essence of this unique place. From rare herbs handpicked under
                                    the Himalayan sun to meticulous preparation techniques passed down through generations,
                                    our offerings embody the unparalleled purity and healing power of these sacred mountains.
                                <span>
                                    Experience nature's wisdom, crafted with care, just for you.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="background-image: url({% static 'images/pile_img2.png' %});" class="prlx_img">
        <div class="wrapper">
        </div>
    </div>

    <div class="content-block" id="origin">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num">2</div>
                <span>Only Genuine Products, that Work</span>
            </h1>
            <div class="block-div">
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>
                                    Have you ever wondered why so many so-called Ayurvedic products fall short?
                                    The truth lies in their lack of authenticity.
                                </span>
                                <span>
                                    Here, in the heart of nature’s cradle,
                                    we craft Ayurveda as it was meant to be—fresh, potent, and true to its roots.
                                    Every ingredient is sourced at its peak, every formula is time-tested, ensuring products
                                    that don’t just promise but deliver.
                                </span>
                                <span>
                                    Try how real Ayurveda must work and discover
                                    the power of tradition infused with the purity of our highland workshop.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image: url({% static 'images/pile_img3.png' %});" class="prlx_img">
        <div class="wrapper"></div>
    </div>

    <div class="content-block" id="workshop">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num">3</div>
                <span>Step into Our Workshop</span>
            </h1>
            <div class="block-div">
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>
                                    For centuries, our family has preserved a unique Ayurvedic craft passed down through
                                    generations. In our highland workshop, tradition meets innovation: natural clay
                                    instruments shape each creation, while modern technologies ensure precision without
                                    compromising purity.
                                </span>
                                <span>
                                    We use no chemicals—just the power of locally sourced herbs and time-honored techniques.
                                    Every step reflects our commitment to authenticity, blending nature and heritage to
                                    deliver products that are as pure as the mountains themselves.
                                </span>
                                <span>
                                    Experience the legacy of Ayurveda, perfected through dedication and care.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image: url({% static 'images/pile_img4.png' %});" class="prlx_img">
        <div class="wrapper"></div>
    </div>

    <div class="content-block" id="guarantee">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num">4</div>
                <span>Uncompromising Quality and Guarantee</span>
            </h1>
            <div class="block-div">
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>
                                    Our commitment to excellence is backed by globally recognized certifications and
                                    cutting-edge Swiss technology from trusted partners. With full-cycle control,
                                    every product undergoes meticulous checks from sourcing to final packaging.
                                </span>
                                <span>
                                    Individually designed, our attractive packs not only preserve freshness but also
                                    come with a unique QR code, ensuring complete transparency and traceability.
                                </span>
                                <span>
                                    When you choose our products, you’re not just buying Ayurveda—you’re investing in guaranteed quality,
                                    authenticity, and the promise of a superior experience every time.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image: url({% static 'images/pile_img5.png' %});" class="prlx_img">
        <div class="wrapper"></div>
    </div>

    <div class="content-block" id="delivery">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num">5</div>
                <span>Fast and Reliable Delivery</span>
            </h1>
            <div class="block-div">
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>
                                    Wherever you are in the world, our fast air delivery ensures you receive your Ayurvedic
                                    treasures swiftly and safely.
                                    Each product is vacuum-packed to lock in freshness and protect its purity on its journey to you.
                                </span>
                                <span>
                                     We offer a variety of payment methods, including secure cryptocurrency options, making the process seamless and convenient.
                                </span>
                                <span>
                                    Experience the care and speed of our delivery service, bringing the essence of the mountains directly to your doorstep.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="background-image: url({% static 'images/pile_img6.png' %});" class="prlx_img">
        <div class="wrapper"></div>
    </div>

    <div class="content-block dark" id="connect_form">
        <div class="wrapper">
            <h1 class="block-header">
                <div class="frame-num form-num"></div>
                <span>ANY QUESTIONS?</span>
            </h1>
            <div class="block-div">
                <div class="form-container">
                    <form method="post" class="base-form">
                        {% csrf_token %}
                        {% for f in form %}
                        <div class="field-div">
                            <p class="form-field">
                                <label class="form-label" for="{{ f.id_for_label }}">
                                    {{f.label}}:
                                </label>
                                {{f}}
                            </p>
                            <div class="form-error">{{f.errors}}</div>
                        </div>
                        {% endfor %}
                        <div class="btn-box">
                            <button class="block-btn" type="submit"><strong>SEND</strong></button>
                        </div>
                    </form>
                </div>
                <div class="vert-container">
                    <div class="block-boxes">
                        <div class="text-box">
                            <div class="textbox">
                                <span>Send request for consultation</span>
                                <span>our individual manager will contact you and answer all questions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block" id="map">
        <div class="yamap">
            here will be google map mark
<!--            <script-->
<!--                type="text/javascript" charset="utf-8"-->
<!--                async src="https://api-maps.yandex.ru/products/constructor/1.0/js/?um=constructor%3A19621eb56e685db3dee8186b09a458568d90867184d1340133ca4b3f2c818d33&amp;width=1007&amp;height=684&amp;lang=ru_RU&amp;scroll=true">-->
<!--            </script>-->
        </div>
    </div>


{% endblock %}